<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>235102279588-9oln8co45vtrreog5omfk3rhlt0nahg4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.235102279588-9oln8co45vtrreog5omfk3rhlt0nahg4</string>
	<key>API_KEY</key>
	<string>AIzaSyAKM9so1ugjxi_hINQkSeafMhUrnaF26p0</string>
	<key>GCM_SENDER_ID</key>
	<string>235102279588</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.wzaNative</string>
	<key>PROJECT_ID</key>
	<string>wza-backend</string>
	<key>STORAGE_BUCKET</key>
	<string>wza-backend.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:235102279588:ios:eb58ba85da960660</string>
	<key>DATABASE_URL</key>
	<string>https://wza-backend.firebaseio.com</string>
</dict>
</plist>